<div class="dialog-content">
  <div class="modal-header">
    <h2 class="modal-title">How to play</h2>
    <button (click)="close()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div>
    <p>
      A random player is chosen, guess players to discover who the mystery
      player is
    </p>
    <p>
      If the player you guessed plays in the same position as te mystery player,
      the position will appear green. If the guessed player plays in a similar
      position, it will be yellow
    </p>
  </div>
</div>
