.modal-header{
    display: flex;
    border-bottom: groove;
    padding: 16px;
    padding-bottom: 0px;
    margin-bottom: 16px;
}

.modal-title{
    padding-right: 65%;
}

.difficulty-slider{
    min-width: 200px;
}
//  .dialog-content{
//      background-color: blue;
//  }